# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment files
.env
*.env

# Output logs or temp files
*.log
*.tmp

# System-specific
.DS_Store
Thumbs.db

# Python virtual environments
venv/
.env/
